[submodule "Stagehand-controls"]
	path = Stagehand-controls
	url = git@github.com:evilcandybag/Stagehand-controls.git
[submodule "Stagehand-TRPG"]
	path = Stagehand-TRPG
	url = git@github.com:evilcandybag/Stagehand-TRPG.git
[submodule "Stagehand-Ambience"]
	path = Stagehand-Ambience
	url = git@github.com:evilcandybag/Stagehand-Ambience.git
[submodule "Stagehand-effect-examples"]
	path = Stagehand-effect-examples
	url = git@github.com:evilcandybag/Stagehand-effect-examples.git
[submodule "Stagehand-compound-effect"]
	path = Stagehand-compound-effect
	url = git@github.com:evilcandybag/Stagehand-compound-effect.git
